[submodule "dependencies/glfw"] 
  path = dependencies/glfw
  url = git@github.com:glfw/glfw.git

[submodule "dependencies/protobuf"] 
  path = dependencies/protobuf
  url = git@github.com:protocolbuffers/protobuf.git

[submodule "dependencies/boost"]
	path = dependencies/boost
	url = git@github.com:boostorg/boost.git
[submodule "dependencies/libgcrypt"]
	path = dependencies/libgcrypt
	url = git@github.com:gpg/libgcrypt.git
[submodule "dependencies/enet"]
	path = dependencies/enet
	url = git@github.com:kdavison/enet.git
